footer {
	opacity:0.8;
}

footer p {
	font-size:0.8rem;
}

footer img {
	position:relative;
	top: -15px;
	cursor:pointer;
	width:50px;
	opacity:0.7;
	transition:all .2s;
}

footer a:hover img {
	opacity:1;
	transform: translateX(5px) rotate(40deg);
}